* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
    color: #333;
}

header {
    background-color: darkmagenta;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: white;
}

.task-manager {
    max-width: 400px;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px;
}

input[type="text"] {
    /* Estilos */
    width: calc(100%-100px);
    padding: 0.5rem;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

button {
    padding: 0.5rem 1rem;
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: darkmagenta;
    border: 1px solid darkmagenta;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #ddd;
}

